### BEGIN BOILERPLATE (not IFN666 content but still useful!)
# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.
### END BOILERPLATE

# IFN666 notes:
#   - When you make changes to this file, you will need to
#     restart caddy so the modifications take effect. 
#   - Some useful commands include:
#       caddy validate --config /etc/caddy/Caddyfile
#       sudo caddy fmt -w --config /etc/caddy/Caddyfile
#       sudo systemctl restart caddy
#       sudo journalctl -u caddy -f
#       caddy reload --config /etc/caddy/Caddyfile
#       caddy --help
#
#
banksia02.ifn666.com {
        handle /assessment02/api/* {
        	uri strip_prefix /assessment02
        	reverse_proxy localhost:3000
    	}       
	handle /token {
                reverse_proxy localhost:10101
	}
        handle /api/* {
                reverse_proxy localhost:3001
        }
        handle /locallib/* {
                uri strip_prefix /locallib
                reverse_proxy localhost:3005
        }	
        handle {
                reverse_proxy localhost:3002
        }
}


###

# Below is boilerplate provided in the default Caddyfile,
# and has been commented out by Jake Bradford for IFN666. 

#:80 {
# Set this path to your site's directory.
#	root * /usr/share/caddy

# Enable the static file server.
#	file_server

# Another common task is to set up a reverse proxy:
# reverse_proxy localhost:8080

# Or serve a PHP site through php-fpm:
# php_fastcgi localhost:9000
#}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
